name: CI
on:
  push:
    branches:
    - main
    tags:
    - "v*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        SCALA_VERSION: ["2.12.20", "2.13.16", "3.3.6"]
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true
    - uses: coursier/cache-action@v7.0
    - uses: coursier/setup-action@v2.0
      with:
        jvm: 21
    - name: Test
      run: ./mill -i '__[${{ matrix.SCALA_VERSION }}].test'

  bin-compat:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true
    - uses: coursier/cache-action@v7.0
    - uses: coursier/setup-action@v2.0
      with:
        jvm: 21
    - name: Check
      run: ./mill -i __.mimaReportBinaryIssues

  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true
    - uses: coursier/cache-action@v7.0
    - uses: coursier/setup-action@v2.0
      with:
        jvm: 21
        apps: scalafmt:3.7.14
    - run: scalafmt --check

  doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true
    - uses: coursier/cache-action@v7.0
    - uses: coursier/setup-action@v2.0
      with:
        jvm: 21
    - run: |
        .github/scripts/setup-mkdocs.sh && \
        ./mill -i docs.mkdocsBuild

  publish:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true
    - uses: coursier/cache-action@v7.0
    - uses: coursier/setup-action@v2.0
      with:
        jvm: 21
    - name: Release
      run: ./mill -i mill.scalalib.SonatypeCentralPublishModule/
      env:
        MILL_PGP_SECRET_BASE64: ${{ secrets.PUBLISH_SECRET_KEY }}
        MILL_PGP_PASSPHRASE: ${{ secrets.PUBLISH_SECRET_KEY_PASSWORD }}
        MILL_SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        MILL_SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}

  update-website:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true
    - uses: coursier/cache-action@v7.0
    - uses: coursier/setup-action@v2.0
      with:
        jvm: 21
    - run: |
        .github/scripts/setup-mkdocs.sh && \
        ./mill -i docs.mkdocsGhDeploy
